@import url('https://fonts.googleapis.com/css2?family= Gloria+Hallelujah & display=swap');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#000000a7, #0000006e), url('../img/banner.jpg') no-repeat center center;
    background-size: cover;
    filter: contrast(100%);
}

.topo {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    height: 115px;
    background-color: #0b0d001c;
}

nav ul{
    display: flex;
    margin: 20px 50px 0 0;
}

nav ul li {
    padding: 20px;
    margin: 5px;
    font-size: 1.5em;
    font-weight: bold;
    background: #59341e4f;
    border-radius: 10px;
}

nav ul li:hover {
    background: #0B0D00;
    transition: 500ms;
}

nav ul li a {
    text-decoration: none;
    color: #f2f2f2;
}

.logo img{
    width: 100px;
    margin: 10px;
}

.slogan {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    margin: 260px 50px 0 50px;
    font-size: 3.5em;
    line-height: 2em;
    color: #f2f2f2a2;
    text-shadow: 10px 10px 10px #0B0D00;
}

.cortes {
    width: 100vw;
    height: 100vh;
    background-color: #BF9B7A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cards_cortes {
    height: 500px;
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    background: url('../img/banner.jpg') no-repeat center center;
    background-size: cover;
}

