html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    padding: 20px;
    margin-top: 120px;
    color: #F2F2F2;
}

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#000000a7, #0000006e), url('../img/banner.jpg') no-repeat center center;
    background-size: cover;
    filter: contrast(100%);
}

#menu {
    display: none;
    background: linear-gradient(#0000002c, #0000007c);
}

.img_menu {
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    background: #ffffff3a;
    margin: 10px 30px;
    padding: 5px;
    border-radius: 10px;
}

.img_menu:hover {
    cursor: pointer;
    background: #ffffffb7;
}

#navbar {
    padding-top: 70px;
    margin: auto;
}

.itens {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.itens li {
    background: none;
    padding: 10px;
}

.topo {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    height: 115px;
}

nav ul {
    display: flex;
    margin: 20px 50px 0 0;
}

nav ul li {
    padding: 15px;
    margin: 5px;
    font-size: 1.4em;
    font-weight: bold;
    background: #59341e4f;
    border-radius: 4px;
}

nav ul li:hover {
    background: #0B0D00;
    transition: 500ms;
}

nav ul a {
    text-decoration: none;
    color: #f2f2f2;
}

.logo img {
    width: 100px;
    margin: 10px;
}

.slogan {
    text-align: center;
    padding: 260px 50px 0 50px;
    font-size: 3.5em;
    line-height: 2em;
    color: #f2f2f2a2;
    text-shadow: 10px 10px 10px #0B0D00;
}

#seta {
    position: absolute;
    top: 25px;
    right: 40px;
    width: 60px;
}

.container_cortes {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#BF9B7A, #F2F2F2);
    position: relative;
}

.cortes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cards_cortes {
    height: 500px;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 10px;
    background: linear-gradient(#59341ec4, #d94e41b9), url('../img/barbearia_card.png') no-repeat center center;
    background-size: cover;
}

.cards_cortes:hover {
    box-shadow: 0 0 10px 4px #0000009b
}

.h1_cortes {
    padding: 100px;
    font-size: 4em;
}

.p_cortes {
    text-align: center;
    line-height: 2em;
    font-size: 1.5em;
    color: #F2F2F2;
}

.sobre {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    padding-top: 150px;
    position: relative;
}

.container_sobre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.text_sobre {
    max-width: 550px;
    padding: 50px;
    line-height: 2em;
    font-size: 1.2em;
}

.agendamento {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    background: linear-gradient(to right, #0b0d00a4, #59341ead), url('../img/wallpaper_agendamento.jpeg');
}

form {
    max-width: 600px;
    margin: auto;
    padding-top: 80px;
    color: #F2F2F2;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    border: 4px solid #000000;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px #00000068;
}

legend {
    font-size: 2.1em;
    padding: 20px;
    text-align: center;
}

label {
    font-size: 1.5em;
    text-align: left;
}

input {
    width: 80%;
    height: 30px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
}

#data_horario {
    font-size: 1.5em;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

textarea {
    width: 80%;
    height: 200px;
    margin: 5px 0 5px 0;
    border-radius: 10px;
}

#enviar {
    padding: 10px 20px 30px 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #F2F2F2;
    background-color: #59341ee4;
    border-radius: 10px;
}

#enviar:hover {
    background-color: #0B0D00;
}

.contato {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#59341e70, #bf9b7a4f, #d94e4170)
}

.h1_contato {
    font-size: 3em;
    padding: 80px;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #0b0d0046;
    margin-bottom: 100px;
}

.contato img {
    width: 40px;
    padding-right: 10px;
}

.contato span {
    font-size: 3em;
    font-weight: bold;
    color: #0B0D00;
}

.contato a {
    text-decoration: none;
}

footer {
    background: url('../img/footer_banner.jpg');
    background-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 100%;
    margin: 0 auto 0 auto;
}

footer img {
    width: 200px;
    padding: 10px 0 10px 0;
}

footer p {
    color: #F2F2F2;
}

@media (max-width: 1250.98px) {
    .cards_cortes {
        width: 28%;
    }

    .sobre {
        height: 100%;
    }
}

@media (max-width: 991.98px) {
    #menu {
        display: flex;
    }

    #navbar {
        display: none;
        padding-left: 40px;
    }

    #topo {
        display: none;
    }
   
    .container_cortes {
        height: 100%;
    }

    .cortes {
        flex-direction: column;
        padding-bottom: 30px;
    }

    .cards_cortes {
        width: 60%;
    }

    .sobre {
        height: 100%;
    }

    .agendamento {
        height: 100%;
        padding-bottom: 50px;
    }
}

@media (max-width: 767.98px) {
    .img_menu {
        width: 35px;
    }

    #seta {
        width: 35px;
    }

    .h1_cortes {
        font-size: 3em;
    }

    form {
        max-width: 600px;
        min-width: 350px;
        padding: 60px 20px 40px 20px;
    }

    fieldset {
        padding: 10px;
        width: 90%;
    }

    legend {
        font-size: 0.8em;
        padding: 20px;
        text-align: center;
    }

    label {
        font-size: 1em;
        text-align: left;
    }

    .sobre {
        padding-top: 0;
    }

    .sobre img {
        width: 100%;

    }

    .slogan {
        font-size: 3em;
    }

    .contato {
        padding: 20px;
        height: 100%;
    }

    .h1_contato {
        font-size: 2em;
        padding: 50px 20px 20px 20px;
    }

    iframe {
        margin: 20px;
    }

    .numero_tel {
        font-size: 0.7em;
        margin-bottom: 50px;
    }
}

@media (max-width: 575.98px) {
    .img_menu {
        width: 25px;
    }

    .slogan {
        font-size: 2.5em;
    }

    .cards_cortes {
        width: 80%;
    }

    form {
        min-width: 300px;
    }

    .numero_tel {
        font-size: 0.5em;
    }
}